@font-face {
    font-family: "TempleOS";
    src: url("./templeos_font.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    /* VGA colors */
    --black:   #000000;
    --Iblack:  #555555;
    --blue:    #0000aa;
    --Iblue:   #5555ff;
    --green:   #00aa00;
    --Igreen:  #55ff55;
    --cyan:    #00aaaa;
    --Icyan:   #55ffff;
    --red:     #aa0000;
    --Ired:    #ff5555;
    --pink:    #aa00aa;
    --Ipink:   #ff55ff;
    --yellow:  #aaaa00;
    --Iyellow: #ffff55;
    --white:   #aaaaaa;
    --Iwhite:  #ffffff;

    font-family: "TempleOS";
    font-size: 10pt;
    line-height: 1em;

    cursor: url("./cursor.cur"), default;
}



body {
    margin: 2em !important;
    height: calc(100vh - 7em);
    overflow: hidden hidden;
    background: var(--Iwhite);
    color: var(--blue);
}

.window {
    position: relative;
    margin: 0.25em;
    padding: 1em;
    border: 0.5em double var(--blue);
}
.window::before {
    position: absolute;
    top: -0.75em;
    left: 0.25em;
    content: attr(data-win-left);
    background: var(--Iwhite);
}
@keyframes title-blink {
    from { color: var(--Iwhite) };
    to   { color: var(--blue) };
}
.window::after {
    position: absolute;
    width: 16em;
    top: -0.75em;
    left: calc((100% - 16em) / 2);
    right: calc((100% - 16em) / 2);
    padding: 0 0.5em;
    text-align: center;
    content: attr(data-win-title);
    background: var(--blue);
    color: var(--Iwhite);
    /* animation: 0.5s title-blink steps(2, jump-none) infinite alternate; */
}

#missing-support {
    display: none; /* gets set to "flex" by JS */
    width: 35em;

    flex-direction: column;
    align-items: center;
}
#missing-support > span {
    text-align: center;
}
#missing-support > #feature {
    color: var(--green);
}



#copyright {
    font-size: 0.8em;
}

#main-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#poem-entry {
    width: fit-content;
}
#poem {
    width: 41em; /* 40 characters + scrollbar */
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    resize: none;
    overflow: hidden scroll;
    outline: none;
    background: transparent;
    cursor: url("./cursor.cur"), default;
    caret-color: transparent;

    font-family: TempleOS;
    font-size: 10pt;
    line-height: 1em;
    word-break: break-all;

    scrollbar-color: var(--blue) var(--Iwhite);
    scrollbar-width: auto;
}
#poem::-webkit-scrollbar {
    width: 1em;
    margin: 0;
}
#poem::-webkit-scrollbar-track {
    background: var(--Iwhite);
}
#poem::-webkit-scrollbar-thumb {
    background: var(--blue);
}

@keyframes caret-blink {
    from { background: var(--Iyellow) };
    to   { background: var(--black) };
}
#caret {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1em;
    height: 1em;
    background: var(--black);
    animation: 0.5s caret-blink steps(2, jump-none) infinite alternate;
}

#audio-vis {
    width: 100%;
    margin-left: 1em;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    width: 100%;
    height: 100%;
}
